


<div class="container">
	<div class="">

		<div class="">
			<form novalidate name="form.removeUserForm"
				ng-init="form.removeUserForm.submitted=false"
				ng-submit="form.removeUserForm.submitted && form.removeUserForm.$valid && deleteUser()">
				<table class="table-stripped col-lg-12">
					<tr>
						<td class="col-lg-1">UserName</td>
						<td class="col-lg-6"><select class="selectpicker"
							data-style="btn-warning" class="form-control"
							ng-model="milkConsumer">
								<option ng-repeat="user in milkConsumers" value="{{user}}">{{user.name}}</option>
						</select></td>

					</tr>

				</table>
				<div class="col-lg-12">
					<div class="col-lg-6"></div>
					<div class="col-lg-6">
						<button type="submit"
							ng-click="form.removeUserForm.submitted=true"
							class="btn btn-primary">Delete</button>
						<button class="btn btn-danger">Cancel</button>
					</div>
				</div>
			</form>

		</div>

	</div>


</div>